
title{
	font-size: 50px;
}
span{
	font-size: 50px;
}

.table-fixed {
    table-layout: fixed;
}

body{
	background-image: url("../image/magical_background.jpg");
	/*background-repeat: repeat-x;*/
	background-attachment: fixed;
	text-align: center;
}