scan.kakin {
	text-decoration: line-through; 
}

scan.yokosen {
	text-decoration: line-through; 
}


p{
	font-size: 50px;
}

.table-fixed {
    table-lay
   	out: fixed;
}

body{
	background-image: url("../image/mk8.jpg");
	/*background-repeat: repeat-x;*/
	background-attachment: fixed;
	text-align: center;
}