  .breadcrumbs{
    margin-top: 10px;
    background: #e9edf5;
  }
  /* .breadcrumbs_km{
    background: #e9edf5;
  } */
  .breadcrumb_1 {
    display: inline;
  }
  .breadcrumb_2 {
    display: inline;
  }
  .breadcrumb_3 {
    display: inline;
  }
  .breadcrumbs li::after{
    content: '>>';
    display: inline-block;
    padding: 0 0px; /*左右に余白*/
  }
  .breadcrumbs li:last-child::after{
    display: none;
  }

/*===============================================
●style.css 画面の横幅が769px以上
===============================================*/
@media screen and (min-width: 769px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}
#container{
width:100%;
}
～以下、画面の横幅が768pxまでの場合のスタイル記入～
}