
table.counter{
	vertical-align: center;
}

p.infobox {
   height: 100px;  /* 高さを制限(※) */
   width: 300px;
   overflow: scroll; /* スクロールバーを表示(※) */
   border: red 1px dashed;  /* 枠線を追加 */
   background-color: #fff0f0; /* 背景色を追加 */
   margin: 0 auto;
}

body{
	background-image: url("../image/top.gif");
	background-attachment: scroll;
	text-align: center;
}
