
<div class='row'>
    <!-- <div class='col-sm-2 col-xs-6'>動画情報・タグ一覧</div>
      <div class='col-sm-2 col-xs-6'>投稿者</div>
        <div class='col-sm-3 col-xs-12'>投稿者コメント・最新コメント</div>
          <div class='col-sm-5 col-xs-12'><p><font size='3'>再生数・コメント数・マイリスト数・サムネイル</font></p></div>
            <div class='col-sm-12 col-xs-12' style='background:black;'></div> -->
